# Python / Django
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.env.*
.envrc
# Django
/staticfiles/
#static/
# If you want the client to get media & db INSIDE the image, keep them in Git.
# If you DO NOT want them in Git, uncomment these lines:
# media/
# db.sqlite3
# Node modules (if any)
node_modules/
